.loaderContainer {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	transform: rotate(0deg);
	transition: transform 0.7s linear;
	animation: rotate 3.5s ease infinite;
}

.loaderContainer > div {
	position: absolute;
	width: 20px;
	height: 20px;
	transform: rotate(0deg);
	transition: transform 0.7s linear;
	top: -10px; /* -child size/2 */
	left: 65px; /* parent size/2 - child size/2 */
	max-width: 100%;
	border-radius: 50%;
}

.recycling {
	background: #f1c40f;
}

.paper {
	background: #27ae60;
}

.general {
	background: #c0392b;
}

@keyframes rotate {
	from {
		transform: rotate(-360deg);
	}
	to {
		transform: rotate(360deg);
	}
}
